<<<<<<< HEAD
@media(max-width: 1580px) {
	.header-navigation .thm-container .navbar-brand {
		padding: 25px 0;
	}

	.header-navigation .thm-container .navbar-header .navbar-brand {
		text-align: center;
		display: inline-block;
		float: none;
		vertical-align: middle;
	}

	.header-navigation .thm-container .navbar-header {
	    padding-right: 0;
	    text-align: center;
	    position: relative;
	    padding-left: 0;
	    left: 0;
	}

	.navbar-default .navbar-toggle {
		margin: 0;
		float: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		border: none;
		outline: none;
		font-size: 25px;
		color: #000;
	}

	.navbar-default .navbar-toggle {
	    display: block;
	    margin-right: 0;
	    border-color: #212121;
	    background-color: transparent !important;
	    margin: 40px 0;
	}

  	.header-logo {
		display: none;
	}

  	.header-logo2 {
    	display: inline;
	}

	.header-navigation .thm-container .navbar-header .navbar-brand > img {
	    margin-left: auto;
	    margin-right: auto;
	}

	.navbar-default .navbar-collapse {
	    background: transparent;
	    padding: 0px 0px !important;
	    padding-bottom: 0px !important;
	    border: 1px solid #838ca3;
	    margin: 0;
	    background: #F5F6FA;
	}

	.navbar-collapse.collapse {
	    display: none!important;
	    height: 0!important;
	    padding-bottom: 0;
	    overflow: auto!important;
	    width: 100%;
	}

	.navbar-collapse.collapse.in {
	    display: block !important;
	    height: auto !important;
	    max-height: 70vh;
	}

	.header-navigation.navbar .nav {
	    width: 100%;
	    text-align: left;
	}

	.navbar-nav {
	    margin: 0;
	}

	.header-navigation .thm-container .right-side-box {
	    top: 20px;
	    -webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	    -o-transform: translateX(0);
	    transform: translateX(0);
	    right: 15px;
	}
}
=======
@media(max-width: 1580px) {
	.header-navigation .thm-container .navbar-brand {
		padding: 25px 0;
	}

	.header-navigation .thm-container .navbar-header .navbar-brand {
		text-align: center;
		display: inline-block;
		float: none;
		vertical-align: middle;
	}

	.header-navigation .thm-container .navbar-header {
	    padding-right: 0;
	    text-align: center;
	    position: relative;
	    padding-left: 0;
	    left: 0;
	}

	.navbar-default .navbar-toggle {
		margin: 0;
		float: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		border: none;
		outline: none;
		font-size: 25px;
		color: #000;
	}

	.navbar-default .navbar-toggle {
	    display: block;
	    margin-right: 0;
	    border-color: #212121;
	    background-color: transparent !important;
	    margin: 40px 0;
	}

  	.header-logo {
		display: none;
	}

  	.header-logo2 {
    	display: inline;
	}

	.header-navigation .thm-container .navbar-header .navbar-brand > img {
	    margin-left: auto;
	    margin-right: auto;
	}

	.navbar-default .navbar-collapse {
	    background: transparent;
	    padding: 0px 0px !important;
	    padding-bottom: 0px !important;
	    border: 1px solid #838ca3;
	    margin: 0;
	    background: #F5F6FA;
	}

	.navbar-collapse.collapse {
	    display: none!important;
	    height: 0!important;
	    padding-bottom: 0;
	    overflow: auto!important;
	    width: 100%;
	}

	.navbar-collapse.collapse.in {
	    display: block !important;
	    height: auto !important;
	    max-height: 70vh;
	}

	.header-navigation.navbar .nav {
	    width: 100%;
	    text-align: left;
	}

	.navbar-nav {
	    margin: 0;
	}

	.header-navigation .thm-container .right-side-box {
	    top: 20px;
	    -webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	    -o-transform: translateX(0);
	    transform: translateX(0);
	    right: 15px;
	}
}
>>>>>>> 5fd993daa921d70a837c64a9279f73b5ad44e036
