body {
  height: 100%;
  min-width: 100%;
  font-family:  "Roboto Condensed", sans-serif;
  font-size: 14px;
}

a {
  color: #5e7270;
  text-decoration: none;
}

li {
  font-weight: bold;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 18px;
}

header {
  background: #fcf7e7;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.33);
}

.header-logo {
  padding-left: 30px;
  height: auto;
}

header .nav-link:hover {
  border-bottom: 2px solid transparent #068500;
  color: #068500;
} 

header i {
  font-size: 26px;
}

.btn-circle {
  width: 70px;
  height: 40px;
  border-radius: 19px;
  text-align: center;
  font-size: 16px;
  background: #818f89;
}

.rounded-circle {
  padding-right: 10px;
}

.card div > a{
  text-decoration: none;
}

.card div > a:hover{
  color: #5e7270;
}

.container {
  margin-top: 25px; 
}

.box {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.box .btn-outline-secondary:hover {
  color: #6c757d;
  background: #fcf7e7;
}

main h5 {
  text-decoration: none;
}

.shadow-sm {
  box-shadow: 0 0.0rem .1rem 0.1em!important;
}

.fa-file-word:hover {
  color:blue;
}

.fa-file-excel:hover {
  color:green;
}

.fa-file-pdf:hover {
  color:red;
}

.form-control, .modal-window, .search {
  display: inline-block;
}

/*Модальное окно*/
.modal-body p {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.modal-body .row > div {
  border: none;
  box-shadow: none;
}

.modal-body .row div:last-child {
  margin-top: 30px;
}

.modal-body .row span {
  color: green;
}



.modal-window .btn {
  color: black;
}

.modal-footer {
  padding: 2.3rem;
}

.modal-footer .btn {
  color: black;
}

.form-control {
  margin-top: 10px;
}

/****************/
/* ========== Коллапс========= */

header .navbar-collapse {
  justify-content: center;
}

/* ========================== */

/* =========ЛОГО АДАПТИВ====== */ 
.header-logo2 {
  display: none;
}
@media screen and (max-width: 1354px) {
  .header-logo {
    display: none;
  }
  .header-logo2 {
    display: inline;
  }
}



/*========================*/
/* Лупа */
main .search i {
  padding: 5px 0 0 0;
  font-size: 27px;
}

main .search input {
  min-width: 30px;
  height: 35px;
  font-size: 20px;

}


/********************************/

/* Фильтрация по:; */
label {
  padding: 10px;

}
/********************************/
/* Application Файлы */
main .files i {
  font-size: 45px;
}

main .files i:hover {
  cursor: pointer;
}
/* **************** */

/* Application Правое окно  */
.modal-footer > .btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
/* ************************ */

/* Аккардеон */
.card-header {
  margin-bottom: 20px;
} 
/********************************/

footer {
  background: #cccccc;
  height: 40%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.33);
  padding: 60px 15px;
}

/* заголовок типо "об учереждении" */
footer .row nav .title a {
  font-size: 18px;
  color: black;
  text-decoration: none;
}

footer .row nav .title a:hover {
  border-bottom: 3px solid #068500;
  color: #068500;
}
/********************************/

/* блок списка ul */
footer .row ul {
  padding-left: 5px;
}
/********************************/

/* блок списка ul каждая строчка */
footer .row ul li a {
  font-family: Roboto Condensed, sans-serif;
  color: #242424;
  text-decoration: none;
}

footer .row ul li a:hover {
  color: #5e7270;
}

footer .row nav ul li {
  margin: 20px 0 0;
  font-size: 15px;
  font-weight: normal;
}
/********************************/

/* Иконки мэил, телфон и геопозиция */
footer i {
  margin-right: 15px;
}
/********************************/

.footer-text {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #999;
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  margin: 0 0 35px;
}

/* Гамбургер */

.nav-link {
  display: inline-block;
}

.icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

.icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.icon span:nth-child(1) {
  top: 0px;
}

.icon span:nth-child(2), .icon span:nth-child(3) {
  top: 13px;
}

.icon span:nth-child(4) {
  top: 26px;
}

@media screen and (max-width: 1300px) {
  .icon {
    display: inline-block;
  }
  .links {
    position: fixed;
    display: block;
    top: 45px;
    right: 0;
    left: 0;
    margin-top: 52px;
    background: #fcf7e7;
    z-index: 1000;
    overflow: auto;
    opacity: 0;
  }
  .menu-item {
    display: block;
    padding: 10px 0;
  }
}

.icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.icon span:nth-child(2) {
  transform: rotate(45deg);
}

.icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.links {
  opacity: 1;
}
/* ========= */